<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOFORAGE</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>MOFORAGE</h1>
        <h2>est. 2014</h2>
        <p>"The Home of Fantasy Football"</p>
    </header>

    <main>
        <a href="/propose-rule">Propose a Rule</a>

        <section>
            <div>
                <h3>Twitter</h3>
                <a class="twitter-timeline" 
                   href="https://twitter.com/moforage" 
                   data-width="300" 
                   data-height="500" 
                   data-chrome="noheader nofooter noborders noscrollbar transparent" 
                   data-theme="light">
                  Tweets by moforage
                </a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </section>

        <section>
            <div>
                <h3>League Constitution</h3>
            </div>
        </section>

        <section>
            <div>
                <h3>Declaration of Independence from Tyrant CJ</h3>
                <p>We the people of the MOFORAGE league hereby claim our independence from the tyrannic rule of 
                    Heir Christopher Justin Salloum. Over the course of the year, many have seen how tyrannic this
                     commissioner can be, and it is time for change. We have discussed, met, and hereby appoint another 
                     commissioner to fulfill the duties of this league. Due to the totalitarian upholding of trades,
                      and overall poor rule of the league has resulted in Borries Green Monster, the Seattle Smokers, 
                      the Dank Clampai, My RBs Keep on Breaking, Dis Finna be an Eruv, Spare me Chelsea, and 
                      the New York Giants to overthrow the tyrannic Chili’s God. The following document will appoint 
                      our new commissioner. All in favor of this document double tap. Quorum is 8 in the DMs at the 
                      time of the send, approval of this declaration is 7 likes.</p>
            </div>
        </section>
    </main>
</body>
</html>
